[2015-03-05 01:46] tejasmanohar opened #2 "new files not reported"
[code]

untracked files not shown

[2015-03-05 02:10] qw3rtman commented on #2
Tested with a freshly initialized repository and a preexisting repository and received the expected output each time:

[code]

[code]

Could you give me some more details to help me reproduce the issue?

[2015-03-05 02:11] qw3rtman commented on #2
Now that I think of it, I pushed an update recently fixing this problem. Try updating the package (`npm update -g gitgoodies`) and try again.

[2015-03-05 11:44] nim23 opened #3 "Keeps throwing an error!!"
I keep getting an error when running gg s. Tried with node version 0.10.35 and 0.12.0 both running via nvm.

![screen shot 2015-03-05 at 11 41 43](https://cloud.githubusercontent.com/assets/1999331/6504224/d46457bc-c32c-11e4-8886-b87265555bc8.png)

[2015-03-05 14:45] wojciechgucik commented on #3
+1
error shows up when you have clean working directory.
logging out status variable shows status[4] is empty string when there is nothing to commit:
[
 'On branch foo-branch',
  'Your branch is up-to-date with \'origin/foo-branch\'.',
  'nothing to commit, working directory clean',
  ''
]

[2015-03-05 17:41] srujayk opened #5 "Ability to add routines"
It would be cool to have the ability to make some of your own "routines". For example, if you had a system of adding all files, committing with a message, and then pushing the files, you could make a "routine" that allows you to do that all at once.

Ex.
![screen shot 2015-03-05 at 11 20 41 am](https://cloud.githubusercontent.com/assets/6854781/6510191/0dd2f8b2-c32a-11e4-9499-c217a92e3acc.png)

In

[2015-03-05 18:26] #3 closed, assigned to qw3rtman

[2015-03-05 18:28] qw3rtman commented on #3
Merged and published to npm. Update with `npm update -g gitgoodies`. Let me know if the issue is fixed.

[2015-03-05 18:47] qw3rtman commented on #5
Currently, there is no API for adding custom commands, so the only way for you to do this right now is to add a command by hand.

This is a great idea and will be added to the TODO. Will try to implement this in the near future. :smile:

[2015-03-05 18:48] srujayk commented on #5
Ok, thanks!

[2015-03-05 18:49] #5 closed, assigned to nobody

[2015-03-06 07:27] Lujaw opened #9 "Is there a way to selectively git add the files ?"
I added the individual files using git add command  but when using gg c, it automatically added all the files. Is that a bug or feature?

[2015-03-06 08:19] nim23 commented on #3
Thanks for the quick fix, it's working all fine now.

[2015-03-06 17:52] ch-stuart commented on #3
I'm seeing this issue currently. Just installed gg today.

[code]

Let me know what other information I can provide.

[2015-03-08 03:20] qw3rtman commented on #9
This was a feature originally implemented before the ability to add specific files via `gg a` was even added. As the primary objective of `gg` is to expedite Git workflow by doing the heavy lifting for you, having `gg c` add all the files before committing the changes means you don't have to add all the files beforehand.

This is definitely a problem now, as `gg` has become more flexible and now a

[2015-03-08 17:54] heyvito commented on #3
Same here.

[code]

[2015-03-08 18:17] timdp opened #12 "Why Node?"
Came across this project through Hacker News.

I like the idea of aliasing common Git commands to shorter abbreviations. That's why I already do it by putting a bunch of aliases in my `.gitconfig`.

I had a quick browse through the code and it doesn't look like using JavaScript adds a lot of value. As much as I like Node, I'm also a big proponent of using the right tool for the right job. Specific

[2015-03-08 19:59] darthdeus commented on #12
+1, I was just going to post something along the lines _why not just use `alias`?_

[2015-03-08 20:47] casidiablo opened #13 "gg s crashes"
[code]

[2015-03-08 20:50] qw3rtman commented on #13
Working on fixing this. See #3. :smile:

[2015-03-08 20:50] #13 closed, assigned to nobody

[2015-03-08 22:03] dydx opened #14 "gg p claims it could not push, but commits are pushed to git just fine"
Using a fresh install of GitGoodies and a folder with an existing repo, I made some changes, committed them, and pushed to GitHub.

I receive the following message after trying to push to Github:

I checked on it using regular Git commands and noticed that the changes were already pushed

[2015-03-08 22:54] bucaran commented on #12
@timdp I totally agree with you. On the other hand, I can see the value of a project like this for `git` beginners. Or not so begginners, but folks trying to gain a deeper understanding of `git` and looking for the perfect workflow.

[2015-03-08 23:02] qw3rtman commented on #3
Rewrote the staging section of the status command from scratch. Update with `npm update -g gitgoodies`. Let me know if the issue is fixed. :smile:

[2015-03-08 23:09] qw3rtman commented on #12
There's nothing special in Node that caused me to select it for this project. I wanted to get my feet wet with a new language and was recommended to try Node.

As Node is fairly popular (from what I've seen), I didn't think the issue of an extra dependency would exist.

As far as aliasing goes, I'll paste below what I've explained to others with the same question. As it's a very commonly asked que

[2015-03-08 23:27] bucaran commented on #12
:+1:

[2015-03-08 23:35] #2 closed, assigned to qw3rtman

[2015-03-09 03:49] qw3rtman commented on #3
Alright, tested and working on my end. Let me know if it's fixed now.

[2015-03-09 12:26] nshtg opened #15 "gg s => 2 lines of "undefined""
Using `gg s` (aswell as `gg status`) generates output with 2 lines of "undefined":

![screen shot 2015-03-09 at 13 25 53](https://cloud.githubusercontent.com/assets/5219415/6554815/e4d359b4-c65f-11e4-94e4-8755dced6131.png)

[2015-03-09 13:38] NitroXenon opened #16 "gg cl returns could not clone repository"
I enter command :
`gg cl https://github.com/NitroXenon/node-push-test.git`
it returns `[✖] Could not clone repository.`

but when I enter command:
`gg cl http://github.com/NitroXenon/node-push-test.git`
it returns `[✔] Cloned into 'node-push-test'...`

Is it a problem of https?

[2015-03-09 14:25] gavinengel opened #17 "How do I make my shell look like yours in the gg screenshots?"
It looks cool

[2015-03-09 17:20] calebmeyer commented on #12
I also think node is a good choice, for more reasons than @qw3rtman stated.
If you want to extend git, you should probably use a scripting language.
Ruby and Python are both bad because the devs for each won't use the other one as a matter of principle (huge generalization, but true of most in my experience). Also there's the ruby 1.8 hash syntax, and the myriad of changes between python 2 and 3 t

[2015-03-09 17:30] calebmeyer commented on #17
This is an oh my zsh theme:
https://github.com/robbyrussell/oh-my-zsh/wiki/themes#miloshadzic

@qw3rtman, you might mention that in your readme somewhere.

[2015-03-09 17:32] calebmeyer commented on #9
add all is my 90% case. You could probably add a flag to gg c (--no-add, maybe?) that committed whatever files were already staged, or warned if no files were staged.

[2015-03-09 17:59] qw3rtman commented on #9
Sounds like a good idea to me.

How about `gg cn` for committing without adding all first and the default `gg c` (and related aliases, such as `gg ci` and `gg commit`) for committing with adding all first?

[2015-03-09 18:01] qw3rtman commented on #17
Yep, @calebmeyer is on point with that.

Using the [zsh shell](http://www.zsh.org/) with the miloshadzic [oh-my-zsh](https://github.com/robbyrussell/oh-my-zsh) theme.

I'll add this to the FAQs, as well.

[2015-03-09 18:01] #17 closed, assigned to nobody

[2015-03-09 18:15] qw3rtman commented on #12
:+1:

In addition, Node is platform agnostic, so this package will work on Windows, Mac, and in between.

[2015-03-09 18:28] 7LayersDesign commented on #15
Happens on my machine as well.

![gg](https://cloud.githubusercontent.com/assets/433133/6561575/999b9804-c668-11e4-9fc6-11d530b68d4e.png)

[2015-03-09 20:21] #16 closed, assigned to qw3rtman

[2015-03-09 20:21] qw3rtman commented on #16
Fixed and published to npm. Update with `npm update -g gitgoodies`. :+1:

[2015-03-09 20:27] #15 closed, assigned to nobody

[2015-03-09 20:27] qw3rtman commented on #15
Published fix to npm, update with `npm update -g gitgoodies`.

Let me know if it works as expected.

[2015-03-09 20:45] #14 closed, assigned to qw3rtman

[2015-03-09 20:46] qw3rtman commented on #14
Fixed and published to npm. Update with `npm update -g gitgoodies`. :+1:

Let me know if it works.

[2015-03-09 21:26] nshtg commented on #15
@qw3rtman
No. Additional, `gg s` on a non-git directory generates an error:

![screen shot 2015-03-09 at 22 26 14](https://cloud.githubusercontent.com/assets/5219415/6564746/63e95a5a-c6ab-11e4-9d32-8894ccfaffd1.png)

[2015-03-09 22:11] nshtg commented on #15
@qw3rtman
0.5.6 fixed the `undefined` problem, the problem with non-git directorys is still there:

![screen shot 2015-03-09 at 23 09 27](https://cloud.githubusercontent.com/assets/5219415/6565609/97c51570-c6b1-11e4-91bb-abe595ca340a.png)

[2015-03-09 22:14] qw3rtman commented on #15
Glad the patch fixed it.

Will add a check for if the directory is a Git repository to the TODO.

[2015-03-09 22:16] nshtg commented on #15
@qw3rtman
Have to take that one back I'm afraid, via SSH it still bugs :/ Might be the locale though, give me a second to check it out.

![screen shot 2015-03-09 at 23 15 19](https://cloud.githubusercontent.com/assets/5219415/6565680/3d7509c6-c6b2-11e4-9fbd-9b294aa9c379.png)

[2015-03-09 22:20] nshtg commented on #15
Indeed I can confirm, setting the server language to something different than english breaks your script. Might want to use porcelain commands instead of simple text comparison in the future ^^

[2015-03-10 02:15] qw3rtman commented on #15
@maschs, I plan on switching to native C bindings via `libgit2`, which is more reliable and would be language-agnostic, in the near future. That should fix the language issue. :smile:

[2015-03-10 03:53] semasad opened #18 "Problem cloning"
When I clone a repository with `gg clone git@git.–––.–:~/git/––––.git` or `gg cl git@git.–––.–:~/git/––––.git` the console prints the error `[✖] Could not clone repository.`.

[2015-03-10 04:02] #18 closed, assigned to qw3rtman

[2015-03-10 04:04] qw3rtman commented on #18
Added handling for cloning via SSH and published to npm. Update with `npm update -g gitgoodies`.

Let me know if it works as expected.

[2015-03-10 04:24] semasad commented on #18
Yes, it works! Thanks!

[2015-03-10 07:36] Semigradsky opened #19 "(Windows) gg log error"
Typed:
`gg l`

Result:

[code]

[2015-03-10 07:40] Semigradsky commented on #19
`stderr` in `exports.log` function:

[code]

[2015-03-10 07:55] Lujaw commented on #9
gg cn seems like a good idea.

[2015-03-10 10:10] Semigradsky opened #21 "exports.cloneURL is missed"
It looks like function `exports.cloneURL` is missed in commit 3d1b2d254abadac11df04fb55d945720d5e2d302

Search: https://github.com/qw3rtman/gg/search?utf8=%E2%9C%93&q=cloneURL&type=Code

[2015-03-10 11:11] NitroXenon commented on #16
ok this is great since I need to delete that 's' every time I clone a repo. Thx a lot for fixing this bug

[2015-03-10 11:12] vincent commented on #19
kind of the same here.

here's the error, and the last `stdout` variable content:

[code]

[2015-03-10 15:57] kohenkatz commented on #12
:+1: for Node as well. (That or Golang).

The platform-agnosticity is a very important feature, I think.

[2015-03-10 15:59] qw3rtman commented on #9
Implemented and published to npm. Update with `npm update -g gitgoodies`.

Let me know if it works as expected.

[2015-03-10 16:37] #19 closed, assigned to nobody

[2015-03-10 16:38] #21 closed, assigned to nobody

[2015-03-10 16:38] qw3rtman commented on #21
Fixed and published to npm. Update with `npm update -g gitgoodies`.

Thanks for the catch! :+1:

[2015-03-10 16:39] qw3rtman commented on #16
Sure thing! Thanks for the catch! :smile:

[2015-03-10 18:48] dydx commented on #14
Just tried it out; seems to work great! Thanks!

[2015-03-10 19:25] gavinengel commented on #17
thank you both!

[2015-03-11 12:38] ramarnat opened #23 "Git log black on black"
I have terminal in a dark theme, the git log shows the name and date in dark ansi colors
![screenshot](https://cloud.githubusercontent.com/assets/88762/6596369/fcb6c488-c7c9-11e4-8f47-694404bcadd6.png)

[2015-03-11 16:37] qw3rtman commented on #23
I was originally planning on circumventing this issue by inverting the colors; however, it seems inverting the colors also changes the background.

We may be able to determine the background color and adjust the primary text color that way, but I'm not clear on how to determine the terminal color in NodeJS.

Any ideas would be appreciated.

[2015-03-11 17:59] ramarnat commented on #23
I switched to using the afterglow theme, which is slightly better. The Afterglow theme has versions for iTerm (https://github.com/mbadolato/iTerm2-Color-Schemes) and Atom (https://github.com/Kikobeats/afterglow-monokai-syntax). Since Atom is written in node, maybe there are some indications in the two correlated themes to figure out how to set the Terminal colors?

Sorry not a Node guy so don't ha

[2015-03-11 19:07] semasad opened #24 "Error on pushing but the push was performed"
I made a commit, I add all the changes `gg a` then `gg c -a COMMIT TEXT`and then `gg p`, but the terminal prints `[✖] Could not push commits.`. When I check if the commit was uploaded with `gg log`the last commit was my commit that I couldn't upload because it prints an "error".

[code]

[2015-03-11 20:05] ahmadawais opened #25 "How to revert back?"
I am not a pro Command line user. But I always use Git in Command line. I've read about such stuff earlier, what stops me from jumping ahead is what if, I end up with something where there I get help for normal git codes and I won't be able to find how to do that in new zsh terminal. How would I revert? Could you tell? How to revert if something goes wrong?

[2015-03-12 01:15] semasad opened #27 "gg pl dosen't pull"
When I type `gg pl` GG doesn't make the pull and in the terminal appears the `[✔] Pulled!`

[2015-03-12 01:18] semasad opened #28 "Enhancement: When pull appears what files have change"
When I make `git pull`git prints what files have been changed, would be awesome when I make `gg pl`GG show me what file have been changed.

[2015-03-12 17:07] qw3rtman commented on #24
For starters, `gg c -a COMMIT TEXT` is not a valid `gg` command, although it seems to work just fine, for some odd reason. For future reference, using `gg c` automatically adds all files and then commits, while `gg cn` simply commits.

Running `gg p` again _should_ work; however, I'd like to solve this problem. Could you send me the output of `git push` itself?

Also, what platform are you on?

Th

[2015-03-12 17:10] qw3rtman commented on #25
`zsh` is not a requirement for this package; you can use any shell with `gg` and you'll be fine.

If you'd like to switch back to the default shell (generally `bash`), simply type the name of the shell in `zsh`. Suppose your shell is bash, you would type `bash` in the shell and it would take you to a bash shell.

All Git commands that work in `bash` **will work in `zsh`**.

In addition, you can us

[2015-03-12 17:11] qw3rtman commented on #23
Thanks for the information! I'll add this to the TODO. :smile:

[2015-03-12 17:11] #23 closed, assigned to nobody

[2015-03-12 17:23] semasad commented on #24
@qw3rtman I try to make a commit, I add all the files (`gg a`) and then I want to write a commit, this happened:

`semasad:milandia semasad$ gg c COMMIT MESSAGE
[✔] Added everything!
[✖] Could not commit changes. Try again if there was a large amount of changes to add.`

This is a new error, but when I use the traditional git this output the push:

[code]

[2015-03-12 17:27] qw3rtman commented on #27
Could you provide some more information, such as your platform and what `git pull` outputs? I am unable to reproduce this error.

Thanks! :smile:

[2015-03-12 17:30] qw3rtman commented on #28
I am still considering whether or not to show what files have changed or not. As the main purpose of `gg` is simplicity, it would clutter up the interface to have a listing of files.

I was thinking a verbose option (`gg pl v`) might be useful to those who would like to see what has been pulled, added, committed, etc. What do you think?

Regardless, this enhancement would be very tricky until we s

[2015-03-12 17:37] semasad commented on #28
It would be awesome to have that command :)

[2015-03-12 17:41] qw3rtman commented on #24
I think I understand how to fix this now. Could you send me a screenshot of the entire `git push` output in a terminal?

[2015-03-12 17:42] qw3rtman commented on #28
Excellent. I'll add it to the TODO. :+1:

[2015-03-12 17:42] #28 closed, assigned to nobody

[2015-03-12 17:46] semasad commented on #24
![screenshot 2015-03-12 14 45 11](https://cloud.githubusercontent.com/assets/2313518/6624189/79193d6a-c8c6-11e4-820c-68843a15c9ee.png)

[2015-03-12 17:53] qw3rtman commented on #24
Just published a fix to npm, update with `npm update -g gitgoodies`.

Let me know if it works. :smile:

[2015-03-12 17:56] semasad commented on #24
@qw3rtman It work's! Thanks :smile:

[2015-03-12 17:58] qw3rtman commented on #24
Excellent! Also, for future reference, this error arose due to a rare case in which the default push remote was not specified (as outlined in your `git push` output).

Once we switch over to [libgit2](https://libgit2.github.com), errors such as this one will be much less common. :smile:

[2015-03-12 17:58] #24 closed, assigned to nobody

[2015-03-12 18:05] SeeTwoDev opened #29 "Error while commiting : [✖] Could not commit changes."
Hi,

i like the gg idea and all but we can't seem to be able to make it work.
We keep running into this problem : [✖] Could not commit changes. Try again if there was a large amount of changes to add.

I'm not sure what kind of info we could add he beside that it runs on Ubuntu 14.04 and that normal commits work.

[2015-03-12 19:28] semasad opened #30 "When I have a pending commit gg don't pull"
When I have a pending commit and I run `gg pl`GG outputs: `[✔] Pulled!`but the pull was not performed. When I use the traditional command `git pull`the system returns:

Updating a07c89f..5728eba
error: Your local changes to the following files would be overwritten by merge:
    app/views/home/catalog.html.erb
Please, commit your changes or stash them before you can merge.
Aborting

[2015-03-12 19:35] timdp commented on #12
@calebmeyer Doesn't Git still depend on Bash to begin with? Or is that not why Bash gets bundled with Git for Windows? Also, Bash is not _that_ hard. I used to teach it and my students at least seemed to understand it better than Perl. ;-)

Regardless, while some interesting points have been raised in this discussion, I still don't see enough reason to introduce the additional dependency. It does

[2015-03-12 21:14] ahmadawais commented on #25
Thanks for such a detailed answer. I am going to try it now :)

[2015-03-13 16:16] qw3rtman commented on #29
Could you paste your `git commit -m message` output?

Thanks! :smile:

[2015-03-13 16:27] qw3rtman commented on #30
Support for merging hasn't been implemented yet; however, it is in the TODO.

I have added handling for this error, so it should output an error instead of `[✔] Pulled!`.

Published to npm (update with `npm update -g gitgoodies`), let me know if it works as expected. :smile:

[2015-03-13 16:27] #30 closed, assigned to nobody

[2015-03-13 18:23] SeeTwoDev commented on #29
gg c Update packages
[✔] Added everything!
[✖] Could not commit changes. Try again if there was a large amount of changes to add.

git commit -m "Update packages"
[master 4980eaf] Update packages
 7 files changed, 90 insertions(+), 25 deletions(-)
 create mode 100755 core/class.forfait_categorie.php

[2015-03-14 22:57] niedzielski opened #31 "Commands Outside of Repo Have Unexpected Results"
Running `gg s` outside of a Git repo produces a stacktrace:

[code]

Similarly, `gg a` outside of a repo makes a false claim:

[code]

[2015-03-14 23:03] niedzielski opened #32 "gg s Undefined Output"
1. Clone a repo. For example, `git clone https://github.com/wikimedia/apps-android-wikipedia.git`.
2. Enter the repo.
3. Run `gg s`.
4. Note the output appears incorrect:

   branch   | master
   position | up-to-date

   undefined
   undefined

[2015-03-14 23:04] niedzielski opened #33 "Missing --version Option"
gg does not supply a `--version` / `-v` option to print version information.

[2015-03-16 13:37] themartorana commented on #32
+1 - If it means anything, I'm using ZSH instead of bash.

[2015-03-17 02:25] niedzielski commented on #32
I just did an `npm install -g gitgoodies` again and it magically started working :/

[2015-03-17 02:25] #32 closed, assigned to nobody

[2015-03-18 19:04] jkaan opened #34 "Possibility of integrating this with Github's Hub."
I'm using GitHub's Hub as an extension to Git. I really like this as a developer which uses GitHub a lot since it makes using GitHub easier.

I really like this project as well. I wanted to discuss if and maybe how this project can be linked to GitHub's Hub.

[GitHub's Hub](https://github.com/github/hub)

[2015-03-18 19:24] sylvainbaronnet commented on #29
Same problem.

[2015-03-19 00:53] qw3rtman commented on #31
Thanks for the info. I believe @jackamo had begun work on checking if we were in a Git repository prior to running any commands.

[2015-03-19 01:16] qw3rtman commented on #33
Added in this feature and published to npm. Update with `npm update -g gitgoodies`. I wasn't able to get it working with `--version` or `-v` for some reason. Will switch to a more robust CLI framework in the near future, likely [commander](https://www.npmjs.com/package/commander), which should fix this issue.

This command also checks if `gg` is up-to-date and informs the user of this status.

Let

[2015-03-25 15:51] Iwan-Zotow opened #35 ""gg s" on not-git dir produced error"
/usr/lib/node_modules/gitgoodies/lib/gg.js:279
    switch (status[1].split(' ')[3]) {
                     ^
TypeError: Cannot read property 'split' of undefined
    at /usr/lib/node_modules/gitgoodies/lib/gg.js:279:22
    at ChildProcess.exithandler (child_process.js:751:5)
    at ChildProcess.emit (events.js:110:17)
    at maybeClose (child_process.js:1008:16)
    at Socket.<anonymous> (child_pr

[2015-03-25 16:08] qw3rtman commented on #35
Could you paste the output of `git status`? A screenshot would be better so I can see where the linebreaks are.

[2015-03-26 01:33] Iwan-Zotow commented on #35
here is the output of git status:
fatal: Not a git repository (or any of the parent directories): .git

[2015-03-26 01:35] Iwan-Zotow commented on #35
![image](https://cloud.githubusercontent.com/assets/8153556/6838883/c1eeb2d4-d336-11e4-814e-7faeb54c24aa.png)

[2015-03-26 01:39] Iwan-Zotow commented on #35
Screenshot in one comment up. Gitgoodies are v0.6.4

[2015-03-26 02:12] qw3rtman commented on #35
@jackamo is currently working on adding a check for if a Git repository exists in the current directory or not. See #31.

Thanks for letting us know about it. :+1:

[2015-03-26 02:12] #35 closed, assigned to qw3rtman

[2015-04-06 20:30] aexis-b commented on #29
Great plugin using it daily...

Similar issue as noted above:

$ gg c test
[✔] Added everything!
[✖] Could not commit changes. Try again if there was a large amount of changes to add.

but this works:

$ git commit -m "test"
[develop ab1da5a] test
 1 file changed, 99 insertions(+), 99 deletions(-)
 rewrite npm-debug.log (72%)
$

[2015-04-07 10:36] letunglam opened #37 "Could not pull commits. (may have to pull using the standard git command to handle merge conflicts.)"
It shows this error `[✖] Could not pull commits. (may have to pull using the standard git command to handle merge conflicts.)`. When I pull with standard git command, it shows `Current branch master is up to date.`

I am using OSX 10.10

[2015-04-09 15:58] niedzielski commented on #33
Seems to work fine!

[2015-04-09 15:58] #33 closed, assigned to nobody

[2015-04-14 16:34] ianwalter opened #38 "gg l > Unexpected end of input error"
[code]

[2015-04-14 16:35] ianwalter opened #39 "Add gg d / gg diff"
I use the git diff feature all of the time and would love to bring it up through gg.
I will create a pull request, but adding this issue for any potential discussion.

[2015-04-14 16:40] ianwalter opened #40 "Add gg ch -"
One of the really handy git tricks I use all of the time is to use `git checkout -` which checks out the previously checked out branch. It makes switching back and forth between branches really easy.
Would be happy to submit a pull request, but adding this issue for any discussion.

[2015-04-14 17:53] ianwalter commented on #27
Same issue here. I get:

[code]

`git pull origin develop` pulls a bunch of changes.
Using:
- git version 2.3.3
- io.js v1.6.2
- OS X Yosemite

[2015-04-16 16:40] jmooo commented on #38
:+1:

[2015-04-16 16:44] jmooo opened #41 "List changed files?"
A regular 'git status' shows what files have been changd, but 'gg s' just shows there are some changed files, but not what. Is there a gg command which lists the changes?

[2015-04-17 22:49] #25 closed, assigned to nobody

[2015-04-24 08:15] pierrenel opened #42 "gg l = undefined:5691 "author""
$ gg l
undefined:5691
  "author"

SyntaxError: Unexpected end of input
    at Object.parse (native)
    at /Users/pierre/.nvm/versions/node/v0.12.0/lib/node_modules/gitgoodies/lib/gg.js:513:22
    at ChildProcess.exithandler (child_process.js:751:5)
    at ChildProcess.emit (events.js:110:17)
    at maybeClose (child_process.js:1008:16)
    at Process.ChildProcess._handle.onexit (child_process.js:

[2015-04-24 13:03] gtors commented on #38
Similar problem
gg  version 0.6.4

[code]

[2015-04-24 13:12] gtors commented on #42
Duplicate of #38

[2015-04-24 14:29] pierrenel commented on #42
Whoops!

[2015-05-05 11:31] moondowner commented on #35
I'm having a similar problem:
[code]

And here's the output from `git status`:
[code]

So, the git repository is there (not related to #31).

[2015-05-05 11:37] martin-spa opened #43 "gg s handling of undefined fileds"
I'm having a problem when using the `gg s` command:

[code]

And here's the output from `git status`:

[code]

So, the git repository is there (not related to #31 or #35).

gitgoodies@0.6.4

[2015-05-08 22:40] AchoArnold opened #45 "Add shortcut for "git remote""
Something like "gg r" will do

[2015-06-24 17:33] qw3rtman commented on #42
Closing this; duplicate of #38.

[2015-06-24 17:33] #42 closed, assigned to nobody

[2015-06-24 17:36] qw3rtman commented on #41
`gg` is designed to be very minimalistic in order to increase productivity by decreasing the amount of time you spend reading the outputs of Git commands. Implementing this sort of verbosity would detract from that feature and render `gg` very similar to Git itself.

[2015-06-24 17:36] #41 closed, assigned to nobody

[2015-06-24 17:37] qw3rtman commented on #40
Will add this to the TODO. Thanks for the great idea!

[2015-06-24 17:37] #40 closed, assigned to nobody

[2015-06-24 17:40] #9 closed, assigned to nobody

[2015-06-24 17:41] qw3rtman commented on #31
Fixed by #44. :+1:

[2015-06-24 17:41] #31 closed, assigned to nobody

[2015-08-12 17:34] engineersamuel commented on #29
Same issue here as well.

[2015-08-12 19:52] qw3rtman commented on #29
Hey, all.

I am working on a new version of Git Goodies that is Node-independent and runs much more smoothly, not to mention that it fixes pretty much every issue (including this one).

I'm very glad you find Git Goodies useful. :)

I will inform you all here when I release the new version.

[2015-08-12 20:50] engineersamuel commented on #29
Awesome, thanks @qw3rtman I use Git Goodies every single day, saves me a lot of time over the long haul.

[2015-08-13 09:57] qw3rtman commented on #37
Sadly, this Node.js version of Git Goodies will no longer be maintained. On the bright side, I have recently completed a version of [Git Goodies in Shell](https://github.com/qw3rtman/gg) with more features, more speed, and less bugs. I believe it solves this issue as well; if you could let me know for sure, that'd be great. :smile:

[2015-08-13 09:58] qw3rtman commented on #12
For those who were pushing for a Shell version, I have recently completed it. [Here it is](https://github.com/qw3rtman/gg) with more features, less bugs, and more speed than this Node.js version.

[2015-08-13 09:58] #12 closed, assigned to qw3rtman

[2015-08-13 09:58] qw3rtman commented on #27
Sadly, this Node.js version of Git Goodies will no longer be maintained. On the bright side, I have recently completed a version of [Git Goodies in Shell](https://github.com/qw3rtman/gg) with more features, more speed, and less bugs. I believe it solves this issue as well; if you could let me know for sure, that'd be great. :smile:

[2015-08-13 09:59] qw3rtman commented on #38
Sadly, this Node.js version of Git Goodies will no longer be maintained. On the bright side, I have recently completed a version of [Git Goodies in Shell](https://github.com/qw3rtman/gg) with more features, more speed, and less bugs. I believe it solves this issue as well; if you could let me know for sure, that'd be great. :smile:

[2015-08-13 09:59] qw3rtman commented on #29
I have recently completed the version of [Git Goodies in Shell](https://github.com/qw3rtman/gg) with more features, more speed, and less bugs. I believe it solves this issue as well; if you could let me know for sure, that'd be great.

I'm very glad to hear that Git Goodies is helping other developers. Hopefully this new version of Git Goodies can help you save even more time. :smile:

[2015-08-13 10:00] qw3rtman commented on #45
What purpose do you intent this to solve? From my experience, `git remote` is mainly used to set configuration and manage remotes.

[2015-08-13 10:01] qw3rtman commented on #43
Sadly, this Node.js version of Git Goodies will no longer be maintained. On the bright side, I have recently completed a version of [Git Goodies in Shell](https://github.com/qw3rtman/gg) with more features, more speed, and less bugs. I believe it solves this issue as well; if you could let me know for sure, that'd be great. :smile:

[2015-08-13 11:48] engineersamuel commented on #29
Just installed and tested, fixes the gg c issue and works brilliantly fast, thank you @qw3rtman!

[2015-08-13 15:49] AchoArnold commented on #45
yes and thats why I'll like a shortcut for this. I'll be happy if this can be incoporated. But I totally understand if you don't find it important.

[2015-08-13 16:58] qw3rtman commented on #29
That's great, glad to hear. :+1:

[2015-08-13 16:58] #29 closed, assigned to nobody

[2015-08-14 17:29] #27 closed, assigned to qw3rtman

[2015-08-14 17:29] #37 closed, assigned to nobody

[2015-08-14 17:30] #38 closed, assigned to nobody

[2015-08-14 17:30] #43 closed, assigned to nobody

[2015-08-16 11:31] brunowego opened #48 "Alias for gg command"
If user have installed [https://github.com/robbyrussell/oh-my-zsh](https://github.com/robbyrussell/oh-my-zsh), will catch a problem with alias for `gg` command, to fix it, open the file `git.plugin.zsh`:

[code]

And comment the line with:

[code]

There is not much to be done about it.

---

More details about output of command:

[code]

[2015-08-17 13:38] evelop commented on #48
I think it is better to put `unalias gg` at the end of your `~/.zshrc`
Like that it might not get deleted with an update of oh-my-zsh.

[2015-08-17 14:57] brunowego commented on #48
Well thinking, great idea @evelop :+1:

[2015-08-17 18:48] qw3rtman commented on #48
Great idea! I'll this to the README under "Installation". :+1:

[2015-08-17 18:48] #48 closed, assigned to nobody

[2015-08-19 04:27] qw3rtman commented on #39
Would this essentially just translate to `git diff` or do you have any extra features (A.K.A. goodies :wink:) in mind?

[2015-08-19 04:37] qw3rtman commented on #34
GitHub integration is a feature I've had in mind for a while and something that would really make Git Goodies more complete!

Unfortunately, I'm going to be starting school in two days and will be more busy than I currently am. As a result, I do not think I will have the time to implement a feature this monumental until I am less busy.

I'll definitely be adding this to the TODO and hopefully we c

[2015-08-19 04:37] #34 closed, assigned to nobody

[2015-08-19 04:50] qw3rtman commented on #45
Could you give me any use-cases that aren't more efficient simple due to not having to type `git remote` but rather `gg r`?

[2015-08-19 09:44] mkody opened #50 "`gg cl` to move inside cloned directory"
When _most people_ use the `git clone` command, they just directly move inside the directory with `cd`.

I'm suggesting to make `gg cl` automatically change the current directory to the cloned repo... or maybe add a new command?

Thanks!

[2015-08-19 11:28] apaszke opened #51 "Add graphs"
How about adding some pretty graphs like in: http://stackoverflow.com/a/9074343? It's a really nice way to see you repo status.

[2015-08-19 13:35] AchoArnold commented on #45
I can't give you one. I taught that was the point of this tool (to help us type less)?

[2015-08-20 09:41] bluenex opened #53 "Fetching with wrong password produces wrong output"
Normally, when entering the wrong password, `git fetch` output should be

[code]

but `gg f` doesn't produce any error, only shows

[code]

[2015-08-22 17:54] AndersDJohnson opened #57 "GitHub clone default username"
It'd be great if easy cloning from GitHub via #8 had some way of defaulting a to a persisted username for the current user, so we could download our own repos by name only, like [hub](https://github.com/github/hub).

[2015-08-24 16:21] davisvagris opened #58 "Some issues"
Hello, Thanks to build nice app :+1: But i see some issues:
1) gg cl don't work on bitbucket ssh
2) When i use `gg c "message"` get error `/usr/local/bin/gg: line 281: [: report: binary operator expected`

[2015-08-29 19:16] n10v opened #60 "/usr/local/bin/gg: line 281: [: too many arguments"
When I use command `gg c <message>`, this warning appears: `/usr/local/bin/gg: line 281: [: too many arguments`
![2015-08-30 0 14 22](https://cloud.githubusercontent.com/assets/13235519/9563857/4ed6f760-4eac-11e5-9088-77f4e3b47991.png)

[2015-09-03 08:28] schikulski commented on #60
Not sure if this is related, but I get this message when running `gg c`

[code]

[2015-09-03 09:57] n10v commented on #60
@schikulski Hm. Maybe we use different versions, therefore we get different messages but on the same line.
I use 2.0.0

[2015-09-04 10:16] schikulski commented on #60
2.0.0 here as well

[2015-09-04 10:58] n10v commented on #60
Someone should fix that :(

[2015-09-11 12:18] AchoArnold opened #61 "Error when installing on debian"
when I run `curl -fsSL git.io/gg.sh | sh` I get the error

[code]

`uname -a` gives

[code]

[2015-09-15 04:48] sirvon commented on #61
+1

[code]

[code]

[2015-09-15 07:00] nianurag opened #62 "Error when executing installation script"
[code]

Got the source and installed it manually though.

[2015-10-13 03:26] qw3rtman commented on #50
This is a great idea! Sadly, AFAIK, there is no way to do this without introducing an external script that changes the directory which you would then `source` in the main script.

If there is an elegant solution, I would love to have this implemented!

[2015-10-13 03:27] qw3rtman commented on #51
This is a nice idea. Will add this to the TODO and keep this issue open for idea discussion. :+1:

[2015-10-13 03:32] qw3rtman commented on #53
Hmm, this is strange as the error catching implementation for `fetch()` is identical to that of every other function. Perhaps `git fetch` does not return an error code if the fetch was not successfully completed?

[2015-10-13 03:33] qw3rtman commented on #57
Great idea! Will add this to the TODO and keep this issue open for ideas and discussion. :+1:

I've been considering adding some form of authentication to make working with GitHub (and related services) easier with Git Goodies.

[2015-10-13 03:39] qw3rtman commented on #58
The second issue should be fixed now thanks to #59 and #63. If you could you make a new issue specifically for your first issue and give more detail, that would be very helpful.

Thanks!

[2015-10-13 03:39] #58 closed, assigned to nobody

[2015-10-13 03:40] qw3rtman commented on #60
This issue should be fixed now thanks to #59 and #63. Let me know if it is fixed.

[2015-10-13 03:40] #60 closed, assigned to nobody

[2015-10-13 03:40] professorjamesmoriarty commented on #51
Altho it would add to more complex stuff. It would be nice to be able to specifiy the colors used in such output.

[2015-10-13 03:42] professorjamesmoriarty commented on #50
Taken from http://unix.stackexchange.com/questions/97920/how-to-cd-automatically-after-git-clone

It may be a starting point.

[code]

[2015-10-13 03:43] qw3rtman commented on #51
Perhaps an optional config file would do the trick?

I feel like anything too complicated would take away from the drag-and-drop simplicity of Git Goodies.

[2015-10-13 03:45] AndersDJohnson commented on #57
It could be as simple as checking for a config variable, e.g. `git config --get github.user` - so that if that exists, and if we were defaulting to `https://github.com/${arg}.git` as in #8, and `arg` didn't have a forward slash, then prepend the value of that config variable plus a `/` to `arg` before wrapping.
User would then just configure `git config --global github.user adjohnson916` if they w

[2015-10-13 03:46] professorjamesmoriarty commented on #51
A completely optional config would be wonderful for this idea.

[2015-10-13 03:53] qw3rtman commented on #50
This is essentially creating the directory beforehand and them cloning into that directory, which is a valid solution except the issue we are running into is related to how Shell scripts execute commands.

In a Shell script, a [subshell](http://www.tldp.org/LDP/abs/html/subshells.html) is created. `cd` will change the directory of the subshell, which is different from the shell that is executing t

[2015-10-13 04:12] qw3rtman commented on #61
Seems to be an issue with using `($var)` syntax to split a string into an array by space. I've replaced this syntax with the `IFS` method.

Let me know if it's working now.

[2015-10-13 04:13] qw3rtman commented on #62
What OS are you running? (`uname -a`)

[2015-10-13 05:05] nianurag commented on #62
[code]

[2015-10-13 05:07] qw3rtman commented on #62
Looks like this issue applies to both Ubuntu and Debian, so take a look at #61.

[2015-10-13 05:07] #62 closed, assigned to nobody

[2015-10-13 05:19] professorjamesmoriarty commented on #61
Debian and Ubuntu doesnt use "sh" as you'd expect. Rather they use dash. This is what I assume is the cause of this problem.

[code]

http://manpages.ubuntu.com/manpages/hardy/man1/dash.1.html

Replacing sh with bash (which should be on most installs) lets the install function as expected.

[2015-10-13 12:45] nianurag commented on #62
Shouldn't this be handled by the installation script?

[2015-10-13 17:19] jitendravyas opened #65 "How to run multiple command at once?"
For any new project we need to run these commands

[code]

Excpet repeating `git` commands we only give one info here the `cloud-url`

I would like these all commands in a single command where I just give `cloud-url`

[2015-10-14 14:10] jhermann opened #66 "More quoting fixes"
See https://github.com/jhermann/ruby-slippers/commits/master/home/bin/gg for more quoting fixes, and the problem with inserting data directly into printf formats (which is wrong, try '% boom!' as a commit msg).

[2015-10-15 06:54] qw3rtman commented on #66
Added the quoting fixes. :+1:

Would be cool if you made PR's for the new features you added and other things you fixed. :smile:

[2015-10-15 06:54] #66 closed, assigned to nobody

[2015-10-15 06:59] #61 closed, assigned to nobody

[2015-10-15 07:28] qw3rtman commented on #57
Great idea, implemented! :+1:

[2015-10-15 07:28] #57 closed, assigned to nobody

[2015-10-15 07:34] qw3rtman commented on #45
I think an interesting new feature, along with having to type less, would warrant adding a new command.

Do you have specific special new features for `gg r` in mind?

[2015-10-15 08:19] qw3rtman commented on #65
This is an interesting idea. Will add this to the TODO as "Shortcut to quickly setup new repository" and will leave this issue open for discussion.

Thanks! :+1:

[2016-02-24 03:42] t2othick opened #68 "Add Support Command for `git remote`?"
GG is exciting! May u add support command for `git remote`?

[2016-07-18 17:56] invalidCards opened #70 "Add gg pi"
Make `gg pi` (push init) a shortcut for `git push -u origin {currentbranch}`.

[2016-07-18 18:33] qw3rtman commented on #70
I love this idea and have been meaning to implement something similar so one can create a repo on GitHub and push it without typing the whole command on the first push. Will work on this shortly!

[2016-07-18 20:58] invalidCards opened #71 "Add force-pushing"
`gg pf` for `git push --force` and `gg pfl` for `git push --force-with-lease`

[2016-10-25 03:40] johnwatsondev opened #72 "iTerm2 didn't show comment with "gg help""
MacOS Sierra 10.12
iTerm2 Build 3.0.10
Terminal Version 2.7 (377)
### iTerm2

![iterm2 gg help](https://cloud.githubusercontent.com/assets/12760754/19672270/7e7fb13a-9aa7-11e6-9cce-ef75d44de8b5.jpg)
### Terminal

![terminal gg help](https://cloud.githubusercontent.com/assets/12760754/19672232/467464a2-9aa7-11e6-8104-28b6c19757bf.jpg)

Did anybody have some idea about this? Thanks in advance.

[2016-12-19 23:06] csi-lk opened #73 "Proposal - branch delete - gg bd"
Am happy to submit a PR for this, just wanted to gauge interest

Could be

[code]

or

[code]

I feel `bd` makes more sense as `b` is used for branch functions

Then could add on top

[code]

Cheers 🙂

[2016-12-20 06:14] qw3rtman commented on #73
I like `bd`. Great suggestions—go for it! 😄

[2018-09-07 03:06] #39 closed, assigned to nobody

[2018-11-01 22:16] aluong opened #74 "gg merge from upstream branch"
A common use case for me is to merge changes from my upsteam dependencies. (Ex: I fork a repo)

[2020-03-25 09:31] didier opened #75 "Are there any plans to update this? Currently it won't work in ZSH."
When trying to use the `gg`command, it spawns an instance of Tk -> `DEPRECATION WARNING: The system version of Tk is deprecated and may be removed in a future release. Please don't rely on it. Set TK_SILENCE_DEPRECATION=1 to suppress this warning.`

[2020-04-21 13:24] qw3rtman commented on #75
oh-my-zsh already assigns an alias to `gg`. Adding `unalias gg` to your `.zshrc` should fix this

[2020-04-21 21:33] didier commented on #75
Oh, that worked. Can't believe it was that easy 😆

[2020-04-21 21:33] #75 closed, assigned to nobody

[2020-07-16 13:43] lordlycastle opened #76 "gg push branch sets up stream as well"
Currently there's no quick way to set upstream after you create a new local branch.

[2020-07-16 13:48] lordlycastle opened #77 "gg list does not include remote branches"
We maybe need an option or anew command to also list remotes, so you can see the name of branch to checkout without looking at it through browser first.